beginning=$(pwd)
mkdir scancodeOutput
so=$(pwd)/scancodeOutput
echo {\"artifacts\": [ > scancodeOutput/scancodeOut.json
dir=$(pwd)/Source

#foreach ($artifact in $ARTIFACTS)
if [ ! -f $dir/$purlhandler.pathFor($artifact.packageUrl)/scancode.json ]
then
	if [ -d $dir/$purlhandler.pathFor($artifact.packageUrl)/sources ]
	then
		scancode -c -n 16 --json-pp $dir/$purlhandler.pathFor($artifact.packageUrl)/scancode.json --only-findings $dir/$purlhandler.pathFor($artifact.packageUrl)/sources
	fi
	cat $dir/$purlhandler.pathFor($artifact.packageUrl)/scancode.json >> $so/scancodeOut.json
	if [ -f $dir/$purlhandler.pathFor($artifact.packageUrl)/scancode.json ]
	then
		printf "\n," >> $so/scancodeOut.json
	fi
fi
#end
printf "END" >> $so/scancodeOut.json
grep -v ",END" $so/scancodeOut.json > $so/scancodeOutput.json
rm $so/scancodeOut.json
echo ]} >> $so/scancodeOutput.json
mv $so/scancodeOutput.json $beginning

