beginning=$(pwd)
mkdir scancodeOutput
so=$(pwd)/scancodeOutput
echo {\"artifacts\": [ > scancodeOutput/scancodeOut.json
dir=$(pwd)/Source

#foreach ($artifact in $ARTIFACTS)
cd $beginning
	#if ( $artifact.artifactId.toString().contains("/") )
		art=$artifact.artifactId-$artifact.version
		cutArt=#[[${art%/*}+${art#*/}]]#
		if [ ! -f $so/$cutArt.json ] 
		then
			scancode -c -n 16 --json-pp $so/$cutArt.json --only-findings $dir/$cutArt
		fi
		cd $so
		cat $cutArt.json >> scancodeOut.json
		if [ -f $so/$cutArt.json ]
		then
			printf "\n," >> scancodeOut.json
		fi
	#else
	
		if [ ! -f $so/$artifact.artifactId-${artifact.version}.json ]
		then
			scancode -c -n 16 --json-pp $so/$artifact.artifactId-${artifact.version}.json --only-findings $dir/$artifact.artifactId-$artifact.version
		fi
		cd $so
		cat $artifact.artifactId-${artifact.version}.json >> scancodeOut.json
		if [ -f $so/$artifact.artifactId-${artifact.version}.json ]
		then
			printf "\n," >> scancodeOut.json
		fi
	#end
#end
printf "END" >> scancodeOut.json
grep -v ",END" scancodeOut.json > scancodeOutput.json
rm scancodeOut.json
cd $so
echo ]} >> scancodeOutput.json
mv scancodeOutput.json $beginning

