## Initialize a list to store unique categories
#set($uniqueCategories = [])

#foreach($row in $STATISTICS)
    #set($category = $row.CATEGORY)
        #if(!$uniqueCategories.contains($category))
        #set($dummy = $uniqueCategories.add($category))
    #end
#end

## Print JSON Output
{
  "Statistics": [
    #foreach($category in $uniqueCategories)
      "$category": {
      #foreach($row in $STATISTICS)
        #if(($category == $row.CATEGORY))
          "$row.VALUE": $row.COUNT,
        #end
      #end
    #if($foreach.hasNext)
      },
    #end
    #end
  ]
}
