SET beginning=%CD%
mkdir scancodeOutput
SET so=%CD%\scancodeOutput
echo {"artifacts": [ > scancodeOutput/scancodeOutput.json
SET dir=%CD%\SourceDownload
cd ../../scancode/scancode-toolkit-21.3.31
SET scan=%CD%

#foreach ($artifact in $ARTIFACTS)
cd %scan%
	#if ( $artifact.artifactId.toString().contains("/") )
		SET art=$artifact.artifactId-$artifact.version
		#[[SET cutArt=%art:/=+%]]#
		if not exist %beginning%/scancodeOutput/%cutArt%.json ( 
			start /wait cmd /c "call scancode -c -n 16 --json-pp %beginning%/scancodeOutput/%cutArt%.json --only-findings %dir%/%cutArt%"
		)
		cd %so%
		type %cutArt%.json >> scancodeOutput.json
	#else
	
		if not exist %beginning%/scancodeOutput/$artifact.artifactId-${artifact.version}.json ( 
			start /wait cmd /c "call scancode -c -n 16 --json-pp %beginning%/scancodeOutput/$artifact.artifactId-${artifact.version}.json --only-findings %dir%/$artifact.artifactId-$artifact.version"
		)
		cd %so%
		type $artifact.artifactId-${artifact.version}.json >> scancodeOutput.json
	#end
echo , >> scancodeOutput.json
#end

cd %so%
echo {}]}>> scancodeOutput.json
move scancodeOutput.json %beginning%

