SET beginning=%CD%
mkdir scancodeOutput
cd SourceDownload
SET dir=%CD%

cd ../../../scancode/scancode-toolkit-21.3.31
#foreach ($artifact in $ARTIFACTS)

	SET art=$artifact.artifactId-$artifact.version
	
	#[[SET cutArt=%art:/=+%]]#
	if not exist %beginning%/scancodeOutput/%cutArt%.json ( 
	 start /wait cmd /c "call scancode -c -n 16 --json-pp %beginning%/scancodeOutput/%cutArt%.json --only-findings %dir%/%cutArt%"
	 )
	#end

cd %beginning%/scancodeOutput
copy *.json scancodeOutput.json 

move scancodeOutput.json %beginning%

