SET beginning=%CD%
mkdir scancodeOutput
SET so=%CD%\scancodeOutput
echo {"artifacts": [ > scancodeOutput/scancodeOut.json
SET dir=%CD%\Source
SET scan=%1


#foreach ($artifact in $ARTIFACTS)
cd %scan%
	#if ( $artifact.artifactId.toString().contains("/") )
		SET art=$artifact.artifactId-$artifact.version
		#[[SET cutArt=%art:/=+%]]#
		if not exist %beginning%/scancodeOutput/%cutArt%.json ( 
			start /wait cmd /c "call scancode -c -n 16 --json-pp %beginning%/scancodeOutput/%cutArt%.json --only-findings %dir%/%cutArt%"
		)
		cd %so%
		type %cutArt%.json >> scancodeOut.json
		if exist %beginning%/scancodeOutput/%cutArt%.json (
		<NUL set /p =",">> scancodeOut.json
		)
	#else
	
		if not exist %beginning%/scancodeOutput/$artifact.artifactId-${artifact.version}.json ( 
			start /wait cmd /c "call scancode -c -n 16 --json-pp %beginning%/scancodeOutput/$artifact.artifactId-${artifact.version}.json --only-findings %dir%/$artifact.artifactId-$artifact.version"
		)
		cd %so%
		type $artifact.artifactId-${artifact.version}.json >> scancodeOut.json
		if exist %beginning%/scancodeOutput/$artifact.artifactId-${artifact.version}.json (
		<NUL set /p =",">> scancodeOut.json
		)
	#end
#end
<NUL set /p ="END">> scancodeOut.json
FINDSTR /V ",END" scancodeOut.json>scancodeOutput.json
echo } >> scancodeOutput.json
del scancodeOut.json
cd %so%
echo ]}>> scancodeOutput.json
move scancodeOutput.json %beginning%

